:root { 
--bluegray_50:#eaecf0; 
--blue_A200:#588af1; 
--red_400:#f14a60; 
--blue_A201:#4d90ff; 
--teal_900:#072d4b; 
--black_900_4c:#0000004c; 
--blue_900:#003995; 
--blue_700:#0f80d7; 
--white_A700_0c:#ffffff0c; 
--red_A200:#ff4b4b; 
--black_900_0c:#0000000c; 
--gray_600_26:#6d6d6d26; 
--blue_50:#e0ebff; 
--blue_51:#eef4ff; 
--bluegray_801:#37474f; 
--bluegray_800:#363853; 
--bluegray_600:#5f6c86; 
--bluegray_401:#75839d; 
--bluegray_400:#74839d; 
--bluegray_200:#bac1ce; 
--gray_50_19:#f8f9fa19; 
--white_A700:#ffffff; 
--bluegray_802:#3d455b; 
--gray_52:#fafcff; 
--bluegray_400_90:#74839d90; 
--gray_51:#f8f9fa; 
--blue_A701:#0a58ff; 
--gray_54:#f5f9ff; 
--gray_53:#f4f8ff; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--green_400:#56c568; 
--black_900_66:#00000066; 
--black_900:#000000; 
--black_902:#130e00; 
--black_901:#090b0d; 
--bluegray_900_7f:#3333337f; 
--gray_700_11:#55555511; 
--gray_901:#2a2a2a; 
--blue_800:#0051d5; 
--gray_902:#11142d; 
--gray_900:#0d1624; 
--blue_600:#378fd3; 
--bluegray_100:#d6dae2; 
--bluegray_900:#262b35; 
--white_A700_87:#ffffff87; 
--bluegray_700:#424c5d; 
--bluegray_300:#9ea8ba; 
--blue_400:#3a96dd; 
--blue_200:#a6c8ff; 
}